.mat-slider-horizontal {
    width: 100%;
}

mat-card-header {
    background-color: #ffa;
}

.mat-card-title {
    margin-top: 8px;
    margin-bottom: 8px;
}

h1 {
    background-color: #004;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-top: 0px;
}

.div-main {
    border: 2px solid #004;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}