.mat-slider-horizontal {
    width: 100%;
}

mat-card-header {
    background-color: #ffa;
}

h1 {
    background-color: #004;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}